<html>
  <h1>Add an album:</h1>
    <form action="/albums" method = "POST">
      <label>Album title</label>
      <input type="text" name="title">
      <br>
      <br>
      <label>Album release year</label>
      <input type="text" name="release_year">
      <br>
      <br>
      <label>Artist id</label>
      <input type="text" name="artist_id">
      <br>
      <br>
      <input type="submit" value="Add the album">
    </form>
</html>