<html>
  <head></head>
  <body>
    <h1>Albums</h1>
      <% @albums.each do |album| %>
        <p>
          Title: <a href='albums/<%=album.id%>' ><%= album.title %></a>
          Release year: <%= album.release_year %>
        </p>
      <% end %>
  </body>
</html>