<html>
  <h1>Add an artist:</h1>
    <form action="/artists" method = "POST">
      <label>Artist title</label>
      <input type="text" name="name">
      <br>
      <br>
      <label>Artist genre</label>
      <input type="text" name="genre">
      <br>
      <br>
      <input type="submit" value="Add the artist">
    </form>
</html>
</html>